<p>kata ini dapat dicetak <b>tebal</b>, <i>miring</i>, <u>garis bawah</u>, <b>tebal <i>miring</i></b>, dan <b><i><u>kombinasi</u></i></b> di tengah huruf normal, <i>selain <u>itu</u></i> juga kita <u>bisa <b>kombinasikan</u></b> sesuka hati kita.</p>