<p><img src=".jpg" align="left" />Perkenalkan, nama saya ilham fajri. Asal berau, kalimantan timur. Ini adalah homepage pertama saya, karena saya baru belajar tentang cara membuat homepage. Homepage ini masih dalam tahap pengembangan, oleh karena itu tampilannya masih terlalu <img src="logo.gif" alt="logo" /> sederhana. Saya akan berusaha untuk terus memperbaiki homepage saya ini sehingga semakin lama semakin menarik untuk dilihat.</p>

<p>saya ingin melihat <a href="hal2.html">halaman selanjutnya</a>. saya ingin langsung menuju ke <a href="#akhir">bagian akhir</a>. saya ingin menuju ke <A href="hal2.html#bawah">bagian bawah pada halaman selanjutnya</a>.<br /><a href="https://www.detik.com"><img src="d.jpg" /></a><br />Homepage detik.com.<br />ini bagian tengah.<br /><a href="#akhir">ini bagian akhir.</a></p>

<a href="http://www.elearning.uad.ac.id">
<img src="elearninguad.png"></a>

<a href="mailto:alitarmuji@uad.ac.id">Email saya</a>