<p>(x<sub>1</sub> + x<sub>2</sub>)<sup>2</sup> = x<sub>1</sub><sup>2</sup> + x<sub>2</sub><sup>2</sup> + 2x<sub>1</sub>x<sub>2</sub></p>

<p>2H<sub>2</sub> + O<sub>2</sub> = 2 H<sub>2</sub>O</p>

<p>2HBr + H<sub>2</sub>SO<sub>4</sub></p>

<p>Br<sub>2</sub> + SO<sub>2</sub> + 2H<sub>2</sub>O</p>