<p>Perkenalkan, nama saya Ilham Fajri, asal Berau, Kalimantan Timur<br />Ini adalah homepage pertama saya<br />karena saya baru belajar tentang cara membuat homepage.</p>

<p>Homepage ini masih dalam tahap pengembangan, oleh karena itu tampilannya masih terlalu sederhana<br />jadi masih banyak yang harus dipelajari untuk mengembangkan homepage ini<br />
mungkin sekian dari penjelasan isi dari homepage ini<br />terima kasih.</p>