body{
    background-color: blanchedalmond;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrap{
    width: 40%;
    margin: auto;
    color: white;
    border-radius: 10%;
    font-family: comic sans ms;
    background-color: blanchedalmond;
}
.container{
    padding: 5px;
}
table{
    margin: auto;
}
table td{
    padding: 5px;
}
.button{
    width: 50px;
    font-family: comic sans ms;
    height: 30px;
    background-color: blanchedalmond;
    border-radius: 7px;
}